body
{
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, darkgrey, white);
}

table
{
    width: 100%;
    border-collapse: collapse;
}

th, td
{
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

th
{
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even)
{
    background-color: lightgray;
}

tr:nth-child(odd)
{
    background-color: white;
}

nav
{
    background-color: #333;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 3);
}

nav a
{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    display: inline-block;
    padding: 10px 15px;
}

nav a:hover
{
    color: lightblue;
    font-size: 20px;
    transition: color 0.3s ease, font-size 0.3s ease;
}